.app {
  max-width: 100%;
  margin: 50px auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
 
  
}

.input-section {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  

}

.input-section input {
  flex: 1;
  padding: 8px;
  font-size: 16px;
 
}

.input-section button {
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
 
}
